@import url('https://fonts.googleapis.com/css?family=Lato:100,300,600,900');

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */


*{
  margin: 0;
}
#root{
  width: 100%;
  margin:0;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: #1F2534;
}

.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2em 4em;
}

.sectionOne{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 2em 4em;
  color: white;
  font-family: 'Lato', sans-serif;
}

.sectionOne .welcomeText{
 display: flex;
 flex-flow: column nowrap;
 width: 55%;
}

.sectionOne .welcomeText h1{
  font-weight: 900;
  font-size: 6em;
}

.sectionOne .welcomeText p{
  font-weight: 100;
  font-size: 1.3em;
  padding: 0.5em 0;
}

.sectionOne .callAction{
 display: flex;
 padding: 4em 0em 0em 0em;
}

.sectionOne .callAction a{
  text-decoration: none;
  color:#1F2534;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  background-color: white;

  border-radius: 0.25em;
  padding: 1em 0.5em;
  width: 6em;
}



.sectionTwo{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2em 4em;
}

.sectionTwo h2, .sectionTwo p {
  color:#1F2534;
  font-family: 'Lato', sans-serif;
}

.sectionTwo p {
  font-size: 1em;
  font-weight: 300;
}


.sectionTwo .row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 4em 1em;
  width: 100%;
}

.sectionTwo .row .col-4{
  width: 25%;
  padding: 0em 1em;
  text-align: left;
}

.sectionTwo .row .col-4 img{
  width: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sectionTwo{
    padding: 2em 1em;
  }
  
  
  .sectionTwo .row{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    width: 100%;
  }

  .sectionTwo .row .col-4{
    width: 100%;
    padding: 1em 0em;
    text-align: center;
  }

  .sectionTwo .row .col-4 img{
    width: 25%;
  }

  .sectionOne .welcomeText{
    width: 100%;
   }
  .sectionOne .welcomeText h1{
    font-size: 2em;
  }

   .sectionOne .callAction a{
     font-size: 1em;
     padding: 0.5em 0.25em;
     width: 5em;
   }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
 
}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  
}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */